* {
  margin: 0;
  padding: 0;
}

body {
  max-width: 960px;
  margin: 0 auto;
}

li {
  list-style-type: none;
}

ul {
  margin-left: 0;
  padding-left: 0;
}

header {
  padding-top: 30px;
  
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: #262626;
  color: #fff;
  box-shadow: 4px 1px 8px #262626;
  border-radius: 3px;
}

.avatar-img {
  max-width: 200px;
  border-radius: 100px;
  margin-bottom: 30px;
}

.main-information {
  margin-bottom: 30px;
  text-align: center;
}

.icons-wrapper {
  margin-top: 30px;

  display: flex;
  justify-content: space-evenly;

  width: 100%;
}

.header-icon {
  width: 32px;
}

.skills-list li,
.tools-list li {
  display: inline;
  margin-left: 5px;
}

.skills-list li:nth-child(1),
.tools-list li:nth-child(1) {
  margin-left: 0;
}

.footer-school-logo-picture,
.footer-github-logo {
  width: 100px;
}