* {
  margin: 0;
  padding: 0;
}

body {
  max-width: 960px;
  margin: 0 auto;
}

li {
  list-style-type: none;
}

ul {
  margin-left: 0;
  padding-left: 0;
}

header {
  margin-top: 30px;

  display: flex;
  justify-content: space-between;
}

.avatar-img {
  max-width: 200px;
}

.footer-school-logo-picture,
.footer-github-logo {
  width: 100px;
}